.LittleNavRow {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  color: rgb(16, 73, 73);
}

.LittleNavRow li {
  margin-right: 15px;
}

.LittleNavRow li a {
  font-weight: bold;
  color: rgb(16, 73, 73);

  transition: color 0.3s;
}

.LittleNavRow li a:hover {
  color: rgb(51, 116, 103);

  transition: color 0.5s;
}