.BigNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  background-color: rgb(16, 73, 73);
}

.BigNavigation li {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 1em;
}