.OngletRouge a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.OngletRouge {
  background-color: rgb(204, 73, 73);
  transition: background-color 0.3s;
}

.OngletRouge:hover {
  background-color: rgb(142, 32, 33);
  transition: background-color 0.4s;
}
.OngletRouge a:hover {
  color: rgb(201, 201, 201);
  transition: color 0.4s;
}