.RedButton {
  height: 30px;
  margin-top: 20px; /* A supprimer */ 
  padding: 0 15px;
  color: white;
  font-weight: bold;
  background-color: rgb(204, 73, 73);
  border: none;

  transition: color 0.3s;
  transition: background-color 0.3s;
}

.RedButton:hover {
  background-color: rgb(142, 32, 33);
  color: rgb(201, 201, 201);

  transition: color 0.4s;
  transition: background-color 0.4s;
}